.adminForm{
    position: relative;
    top:100px;
    border: 2px solid brown;
    padding: 35px;
    border-radius: 20px;
    height: auto;
    z-index: 1;
    background-color: azure;
    overflow: hidden;
}

.card-header {
    background-color: yellow;
}


mat-form-field {
	margin: 15px;
	width: 198px;
}

.content-wrapper{
	background:url('../../assets/img/bg.jpg') repeat;
    background-size: cover;
    height: 100vh;
}

.container-fluid{
    padding-left: 255px;
    padding-right: 300px;
    opacity: 0.8;
    position: relative;
    top: 100px;
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1200px) {
	/* Styles */
	mat-form-field {
		margin: 10px;
		width: 400px;
    }
    .adminForm{
        width: 500px;
        margin: auto;

    }
}