 
 <div class="content-wrapper">
    <div class="container-fluid">  
             <!-- Breadcrumbs-->
             <ol class="breadcrumb" >
                <li class="breadcrumb-item">
                  <a href="#">COUNSELLOR</a>
                </li>
                <li class="breadcrumb-item active">Counsellor List</li>
              </ol>  
      <!-- Add New Devotee-->
     
        
        <!-- Add new devotee End-->
      <!-- Example DataTables Card-->
    <div class="card mb-3 col-md-offset-2 mat-elevation-z12" style="margin-top:42px;">
        <div class="card-header" 
          style="background-color:yellow;">
          <i class="fa fa-table"></i> Devotee List

          
          
        </div>

        <div class="card-body" >
            <mat-tab-group>
                <mat-tab label="Junior Batch"> Content 1 </mat-tab>
                <mat-tab label="Senior Batch"> Content 2 </mat-tab>
                <mat-tab label="BSS"> Content 3 </mat-tab>
              </mat-tab-group>
          
        </div>
        <div class="card-footer small text-muted">
        </div>

      </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->