 
mat-form-field{
    margin: 15px;
    width: 140px;
}

.form-container{
    border-radius: 15px;
    margin-bottom: 30px;

}

.mat-dialog-container {
    height: 85vh;
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1200px) {
	.mat-dialog-container {
        height: 55vh;
    }
}