 
 <div class="content-wrapper" style="background:#CCC;">
    <div class="container-fluid">  
             <!-- Breadcrumbs-->
             <ol class="breadcrumb" style="margin-top:30px;">
                <li class="breadcrumb-item">
                  <a href="#">COURSES</a>
                </li>
                <li class="breadcrumb-item active">Attendance</li>
              </ol>  
      <!-- Add New Devotee-->
     
        
        <!-- Add new devotee End-->
      <!-- Example DataTables Card-->
    <div class="card mb-3 col-md-offset-2" style="margin-top:15px;">
        <div class="card-header">
          <i class="fa fa-table"></i> Devotee List
          <button 
          mat-raised-button
          (click)="handleDevoteeDialog()" 
          class="btn btn-primary pull-right">
          Add Devotee
        </button>
          
        </div>

        <div class="card-body">
          <div class="table-responsive">

            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Contact</th>
                  <th>Counsellor</th>
                  <th>Actions</th>

                </tr>
              </thead>

              <tbody>
                  <tr *ngFor="let dv of devotees;">
                  <td >{{dv.name}}</td>
                  <td >{{dv.contact}}</td>
                  <td >{{dv.counsellor}}</td>
                  <td >
                    <button 
                       mat-raised-button style="margin:5px;" type="submit" 
                       (click)="markPresent(dv)" 
                       class="btn btn-primary">
                      <i class="fa fa-fw fa-user"></i>
                      <span matTooltip="Click here to mark present"></span>
                       
                       
                    </button>
                    <!--button
                       mat-raised-button style="margin:5px;" type="submit" 
                       (click)="delRecord(dv)" 
                       class="btn btn-danger">
                      <i class="fa fa-fw fa-trash"></i>
                      <span matTooltip="Delete Record"></span>
                      
                    </button-->

                    <button
                      mat-raised-button style="margin:5px;" type="submit" 
                      (click)="showDetails(dv)" 
                      class="btn btn-primary">
                      <i class="fa fa-address-card"></i>
                      <span matTooltip="Show Details"></span>
                   
                    </button>
                    

                    </td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
        <div class="card-footer small text-muted">
        </div>

      </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->