<div class="content-wrapper">
    <div class="container-fluid">  
             <!-- Breadcrumbs-->
             <!--ol class="breadcrumb" style="margin-top:20px;">
                <li class="breadcrumb-item">
                  <a href="#">COURSES</a>
                </li>
                <li class="breadcrumb-item active">Attendance</li>
              </ol-->  

              <div class="card mb-2 col-md-offset-2" style="margin-top:15px;">
                  <div class="card-header" style="background-color:yellow;">
                    <i class="fa fa-table"></i> Devotee Details
                  </div>
                  <div class="formClass card-body">
                      <form #devoteeForm="ngForm">
                        <div style="float:left;">
                        <img [src]="data.image" width="150px" height="150px;" style="margin-left:4px;">  
                        <label for="files" class="btn" 
                         style="margin-left:8px;background: #ccc">Select Image</label>
                          <br/>
                        <input type='file' style="width:0px"  name="image" (change)="getDevoteeImage($event)"
                           id="files" style="visibility:hidden;"/>
                         </div>

                          <mat-progress-spinner [diameter]="40" [strokeWidth]="10"
                          mode="indeterminate" *ngIf="loading"></mat-progress-spinner>
                        
                            <mat-form-field> <input matInput
                                 name="contact" [(ngModel)]="data.contact"
                                placeholder="Contact" maxlength="10" minlength="10" required> </mat-form-field>
                            <mat-form-field> <input matInput required
                                 name="name" [(ngModel)]="data.name"
                                placeholder="Name" > </mat-form-field>	
                            
                                
                            <mat-form-field> <input type="email" matInput
                              required
                                 name="email" [(ngModel)]="data.email"
                                placeholder="Email" > </mat-form-field>

                                <mat-form-field> <input type="text" matInput
                                  required
                                     name="area" [(ngModel)]="data.area"
                                  placeholder="Location" > </mat-form-field>

                            
                        <mat-form-field>                                                              
                        <input matInput name="dob" [(ngModel)]="data.dob" 
                         [matDatepicker]="picker" placeholder="Date of Birth" required>       
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>    
                        <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>                                   
                      </mat-form-field>   

                      <mat-form-field>
                      <mat-select name="course" placeholder="Course" required
                        [(ngModel)]="data.course"> <mat-option
                        value="OTP"> OTP </mat-option> <mat-option value="TSSV-B10">
                      TSSV-B10 </mat-option> <mat-option value="VL3"> VL3 </mat-option> <mat-option
                        value="BSS"> BSS </mat-option> <mat-option value="UMANG">
                          UMANG </mat-option></mat-select> </mat-form-field>

                      <mat-form-field>
                      <mat-select name="counsellor" placeholder="Counsellor" required
                        [(ngModel)]="data.counsellor"> <mat-option
                        value="HG Shyam Gopal Prabhuji"> HG Shyam Gopal Prabhuji </mat-option>
                      <mat-option value="HG Kalpvraksha Prabhuji">
                      HG Kalpvraksha Prabhuji </mat-option> <mat-option value="HG Vedanta Chaitanya Prabhuji"> HG Vedanta Chaitanya Prabhuji </mat-option> <mat-option
                        value="HG Pundarika Vidyanidhi Prabhuji"> HG Pundarika Vidyanidhi Prabhuji </mat-option>
                        <mat-option
                        value="HG Jagadanand Pandit Prabhuji"> HG Jagadanand Pandit Prabhuji 
                      </mat-option>
                      <mat-option
                      value="NA"> NA 
                    </mat-option>
                        </mat-select> </mat-form-field>

                        <!--mat-form-field>                                                              
                            <input matInput name="fp" [(ngModel)]="devoteeData.fp" 
                             [matDatepicker]="picker" placeholder="First Program" required>       
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>    
                            <mat-datepicker #picker></mat-datepicker>                                   
                        </mat-form-field-->  
                        
                      <mat-form-field>
                        <mat-select name="bace" placeholder="Is BACE Devotee?" required
                          [(ngModel)]="data.bace"> 
                          <mat-option value="YES"> YES </mat-option> 
                          <mat-option value="NO"> NO </mat-option> 
                        </mat-select>
                       </mat-form-field>
                       <mat-form-field>                                                             
                        <mat-select name="isAlumni" [(ngModel)]="data.isAlumni" 
                           placeholder="Update if devotee is alumni now" required>                                      
                           <mat-option value="YES"> YES </mat-option>          
                           <mat-option value="NO"> NO </mat-option>          
                        </mat-select>                                                              
                     </mat-form-field> 

                     <mat-form-field>                                                             
                      <mat-select name="multiplecourse" [(ngModel)]="data.multiplecourse" 
                         placeholder="Select if devotee enrolled in multiple courses" required>                                      
                         <mat-option value="YES"> YES </mat-option>  
                         <mat-option value="NO"> NO </mat-option>          
                      </mat-select>                                                              
                   </mat-form-field> 

                   <mat-form-field>                                                             
                    <mat-select name="facilitator" [(ngModel)]="data.facilitator" 
                       placeholder="Select to update Facilitator" required>                                      
                       <mat-option *ngFor="let f of facilitators" [value]="f">{{f}}  </mat-option>  
                                 
                    </mat-select>                                                              
                 </mat-form-field> 
                 

                                                                           
                                                                               
                 

                  <!--mat-form-field>                                                             
                    <mat-select name="facilitator" [(ngModel)]="data.facilitator" 
                     placeholder="Assign facilitator" required>                                      
                        <mat-option *ngFor="let co of data.facilitators" [value]="co"> {{co}} </mat-option>          
                      </mat-select>                                                              
                   </mat-form-field-->  

                      <button mat-raised-button color="primary" style="margin-left:8px;"
                      (click)="updateDevotee(devoteeForm)">Update Devotee</button>

                </form>
          <!-- Roles list-->
          <div class="card mb-3 col-md-offset-2" style="margin-top:25px;">
              <div class="card-header" style="background-color:yellow;">
                <i class="fa fa-table"></i> Sewa Involvement
              </div>
              <mat-chip-list style="margin:25px;">
                  <mat-chip color="primary" selected>Universal facilitator</mat-chip>
                  <mat-chip>Class Cordinator</mat-chip>
                  <mat-chip>Setup Incharge</mat-chip>
                  <mat-chip>Preaching</mat-chip>
                  <mat-chip>IT</mat-chip>
                  <mat-chip>Calling Cordinator</mat-chip>
                  <mat-chip>Stall</mat-chip>
              </mat-chip-list>
          </div>
          <div class="card mb-3 col-md-offset-2" style="margin-top:25px;">
              <div class="card-header" style="background-color:yellow;">
                  <i class="fa fa-table"></i> Programs attended till date
                </div>

                        <mat-table #table *ngIf="data.attendance" [dataSource]="data.dataSourceDetails">
                            <!-- Position Column -->
                            <ng-container matColumnDef="Date">
                              <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
                            </ng-container>
                        
                            <!-- Name Column -->
                            <ng-container matColumnDef="Speaker">
                              <mat-header-cell *matHeaderCellDef> Speaker </mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{element.speaker}} </mat-cell>
                            </ng-container>
                        
                            <!-- Weight Column -->
                            <ng-container matColumnDef="Topic">
                              <mat-header-cell *matHeaderCellDef> Topic </mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{element.topic}} </mat-cell>
                            </ng-container>
                        
                            <!-- Symbol Column -->
                            <ng-container matColumnDef="Attendance">
                              <mat-header-cell *matHeaderCellDef> Attendance </mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{element.present}} </mat-cell>
                            </ng-container>
                        
                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                        
                          </mat-table>
                          <mat-paginator #data.dataSourceDetails.paginatorDetails
                           [pageSize]="10"
                           [pageSizeOptions]="[5, 10, 20]"
                           >
                       </mat-paginator>
                    </div>
                  </div>
                  <div class="card-footer small text-muted">
                  </div>
    </div>
</div>