<div class="content-wrapper">
    <div class="container-fluid">  
             <!-- Breadcrumbs-->
             <ol class="breadcrumb" style="margin-top:30px;">
                <li class="breadcrumb-item">
                  <a href="#">COURSES</a>
                </li>
                <li class="breadcrumb-item active">Attendance</li>
              </ol>  

              <div class="card mb-3 col-md-offset-2" style="margin-top:15px;">
                  <div class="card-header" style="background-color:yellow;">
                    <i class="fa fa-table"></i> Devotee Details
                  </div>
                  <div class="card-body formClass mat-elevation-z12">
                      <form #devoteeForm="ngForm">
                          
                          <mat-progress-spinner [diameter]="40" [strokeWidth]="10"
                          mode="indeterminate" *ngIf="loading"></mat-progress-spinner>
                        
                            <mat-form-field> <input matInput
                                 name="contact" [(ngModel)]="devoteeData.contact"
                                placeholder="Contact" maxlength="10" minlength="10" required> </mat-form-field>
                            <mat-form-field> <input matInput required
                                 name="name" [(ngModel)]="devoteeData.name"
                                placeholder="Name" > </mat-form-field>	
                            
                                
                            <mat-form-field> <input type="email" matInput
                              required
                                 name="email" [(ngModel)]="devoteeData.email"
                                placeholder="Email" > </mat-form-field>

                                <mat-form-field> <input type="text" matInput
                                  required
                                     name="area" [(ngModel)]="devoteeData.area"
                                    placeholder="Location" > </mat-form-field>

                            
                        <mat-form-field>                                                              
                        <input matInput name="dob" [(ngModel)]="devoteeData.dob" 
                         [matDatepicker]="picker" placeholder="Date of Birth" required>       
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>    
                        <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>                                   
                      </mat-form-field>   

                      <mat-form-field>
                      <mat-select name="course" placeholder="Course" required
                        [(ngModel)]="devoteeData.course"> <mat-option
                        value="OTP"> OTP </mat-option> <mat-option value="TSSV-B10">
                      TSSV-B10 </mat-option> <mat-option value="ASHRAY"> ASHRAY </mat-option> <mat-option
                        value="BSS"> BSS </mat-option> <mat-option value="UMANG">
                          UMANG </mat-option></mat-select> </mat-form-field>

                      <mat-form-field>
                      <mat-select name="counsellor" placeholder="Counsellor" required
                        [(ngModel)]="devoteeData.counsellor"> <mat-option
                        value="HG Shyam Gopal Prabhuji"> HG Shyam Gopal Prabhuji </mat-option>
                      <mat-option value="HG Kalpvraksha Prabhuji">
                      HG Kalpvraksha Prabhuji </mat-option> <mat-option value="HG Vaidant Chaitnya Prabhuji"> HG Vaidant Chaitnya Prabhuji </mat-option> <mat-option
                        value="HG Pundrik Vidhyanidhi Prabhuji"> HG Pundrik Vidhyanidhi Prabhuji </mat-option>
                        <mat-option
                        value="HG Jagadanand Pandit Prabhuji"> HG Jagadanand Pandit Prabhuji </mat-option>
                        </mat-select> </mat-form-field>

                        <!--mat-form-field>                                                              
                            <input matInput name="fp" [(ngModel)]="devoteeData.fp" 
                             [matDatepicker]="picker" placeholder="First Program" required>       
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>    
                            <mat-datepicker #picker></mat-datepicker>                                   
                        </mat-form-field-->  
                        
                      <mat-form-field>
                        <mat-select name="bace" placeholder="Is BACE Devotee?" required
                          [(ngModel)]="devoteeData.bace"> 
                          <mat-option value="YES"> YES </mat-option> 
                          <mat-option value="NO"> NO </mat-option> 
                        </mat-select>
                       </mat-form-field>
                      <button mat-raised-button color="primary" style="margin-left:8px;"
                      (click)="updateDevotee(devoteeForm)">Update Devotee</button>
                </form>
          

          <div class="card mb-3 col-md-offset-2" style="margin-top:25px;">
              <div class="card-header" style="background-color:yellow;">
                  <i class="fa fa-table"></i> Programs attended till date
                </div>

                        <mat-table #table [dataSource]="dataSource">

                            <!-- Position Column -->
                            <ng-container matColumnDef="Date">
                              <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
                            </ng-container>
                        
                            <!-- Name Column -->
                            <ng-container matColumnDef="Speaker">
                              <mat-header-cell *matHeaderCellDef> Speaker </mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{element.speaker}} </mat-cell>
                            </ng-container>
                        
                            <!-- Weight Column -->
                            <ng-container matColumnDef="Topic">
                              <mat-header-cell *matHeaderCellDef> Topic </mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{element.topic}} </mat-cell>
                            </ng-container>
                        
                            <!-- Symbol Column -->
                            <ng-container matColumnDef="Attendance">
                              <mat-header-cell *matHeaderCellDef> Attendance </mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{element.present}} </mat-cell>
                            </ng-container>
                        
                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                        
                          </mat-table>
                          <mat-paginator #paginator
                           [pageSize]="10"
                           [pageSizeOptions]="[5, 10, 20]"
                           >
                       </mat-paginator>
                    </div>
                  </div>
                  <div class="card-footer small text-muted">
                  </div>
    </div>
</div>