<div class="content-wrapper" >
    <div class="container-fluid" >  
            <!-- Breadcrumbs-->
            <ol class="breadcrumb" style="margin-top:20px;">
                <li class="breadcrumb-item">
                  <a href="#">DOWNLOADS</a>
                </li>
              </ol>  
    <div class="card mb-3">
     <div class="card-header" style="background-color:yellow;">
        <i class="fa fa-table" ></i> Download Attendance</div>
      <div class="card-body">
        <h6>Download Attendance for Specfic Date and Course</h6>
        <form #download1="ngForm" (ngSubmit)="downloadToExcel(download1)" 
            class="classSc" style="margin:10px;">
            <mat-form-field >                                                              
              <input matInput name="date" [(ngModel)]="date" [matDatepicker]="picker" placeholder="Choose a date" required>       
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>    
              <mat-datepicker #picker></mat-datepicker>                                   
            </mat-form-field>                                                             
                                                                                       
             <mat-form-field>                                                             
               <mat-select [(ngModel)]="course" name="course" placeholder="Course" required>                                         
                 <mat-option *ngFor="let co of courses" [value]="co.value">
                   {{co.value}}  
                 </mat-option>                              
                                             
               </mat-select>                                                              
             </mat-form-field>                                                            
                                                                                       
             <!--mat-form-field>                                                             
               <mat-select [(ngModel)]="counsellor" name="counsellor" placeholder="Counsellor" required>                                      
                  
                 <mat-option *ngFor="let c of counsellors" [value]="c.value">
                     {{c.value}}  
                 </mat-option>                              
                                             
               </mat-select>                                                              
             </mat-form-field-->                                                             
                                                                       
            <button mat-raised-button type="submit" class="btn btn-primary" matTooltip="Download">
              <i class="fa fa-fw fa-download"></i>Download</button>
          </form>
        <div *ngIf="isLoggedIn">
          
          <h6>Download Attendance for Counsellor and Course</h6>
          
          <form #download2="ngForm" (ngSubmit)="downloadExCounsellor(download2)"
               class="classSc" style="margin:10px;">
            
                                                                                         
               <mat-form-field>                                                             
                 <mat-select [(ngModel)]="course" name="course" placeholder="Course" required>                                         
                   <mat-option *ngFor="let co of courses" [value]="co.value">
                     {{co.value}}  
                   </mat-option>                              
                                               
                 </mat-select>                                                              
               </mat-form-field>                                                            
                                                                                         
               <mat-form-field>                                                             
                 <mat-select name="counsellor" [(ngModel)]="counsellor" placeholder="Counsellor" required>                                      
                    <mat-option	value="HG Shyam Gopal Prabhuji"> HG Shyam Gopal Prabhuji </mat-option>
                    <mat-option value="HG Kalpvraksha Prabhuji"> HG Kalpvraksha Prabhuji </mat-option>
                    <mat-option value="HG Vaidant Chaitnya Prabhuji"> HG Vaidant Chaitnya Prabhuji </mat-option> 
                    <mat-option value="HG Pundrik Vidhyanidhi Prabhuji"> HG Pundrik Vidhyanidhi Prabhuji </mat-option>
                    <mat-option value="HG Jagadanand Pandit Prabhuji"> HG Jagadanand Pandit Prabhuji </mat-option>          
                    <mat-option value="NA"> NA </mat-option>          
                 </mat-select>                                                              
               </mat-form-field>                                                             
                                                                         
              <button mat-raised-button type="submit" class="btn btn-primary" matTooltip="Download">
                <i class="fa fa-fw fa-download"></i>Download</button>
            </form>
        </div>


        <div *ngIf="isLoggedIn">
          
            <h6>Download Calling Report of specific Counsellor</h6>
            
            <form #download3="ngForm" (ngSubmit)="downloadCallReportCounsellor(download3)"
                 class="classSc" style="margin:10px;">
              
                 <mat-form-field >                                                              
                    <input matInput name="date" [(ngModel)]="date" [matDatepicker]="picker" placeholder="Choose a date" required>       
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>    
                    <mat-datepicker #picker></mat-datepicker>                                   
                  </mat-form-field>                                                                        
                                                                          
                                                                                           
                 <mat-form-field>                                                             
                   <mat-select name="counsellor" [(ngModel)]="counsellor" placeholder="Counsellor" required>                                      
                      <mat-option	value="HG Shyam Gopal Prabhuji"> HG Shyam Gopal Prabhuji </mat-option>
                      <mat-option value="HG Kalpvraksha Prabhuji"> HG Kalpvraksha Prabhuji </mat-option>
                      <mat-option value="HG Vaidant Chaitnya Prabhuji"> HG Vaidant Chaitnya Prabhuji </mat-option> 
                      <mat-option value="HG Pundrik Vidhyanidhi Prabhuji"> HG Pundrik Vidhyanidhi Prabhuji </mat-option>
                      <mat-option value="HG Jagadanand Pandit Prabhuji"> HG Jagadanand Pandit Prabhuji </mat-option>          
                      <mat-option value="NA"> NA </mat-option>          
                   </mat-select>                                                              
                 </mat-form-field>                                                             
                                                                           
                <button mat-raised-button type="submit" class="btn btn-primary" matTooltip="Download">
                  <i class="fa fa-fw fa-download"></i>Download</button>
              </form>
          </div>





        <div>
          
          <h6>Download Devotees of particular course</h6>
          
          <form #download3="ngForm" (ngSubmit)="downloadCourseExcel(download3)"
               class="classSc" style="margin:10px;">
               <mat-form-field>                                                             
                 <mat-select [(ngModel)]="course" name="course" placeholder="Course" required>                                         
                   <mat-option *ngFor="let co of courses" [value]="co.value">
                     {{co.value}}  
                   </mat-option>      
                 </mat-select>
                </mat-form-field>                                                          
                    
                 <mat-form-field>                                                             
                  <mat-select name="isAlumni" [(ngModel)]="isAlumni" 
                     placeholder="Including alumni" required>                                      
                     <mat-option value="YES"> YES </mat-option>          
                     <mat-option value="NO"> NO </mat-option>          
                  </mat-select>                                                              
               </mat-form-field>       

              <button mat-raised-button type="submit" class="btn btn-primary" matTooltip="Download">
                <i class="fa fa-fw fa-download"></i>Download</button>
            </form>
        </div>


      </div>                                      
    </div>
</div>