
<div class="content-wrapper" style="">
  <div class="container-fluid" style="margin-top:70px;">  
       <!-- Breadcrumbs-->
       <ol class="breadcrumb" style="margin-top:30px;">
          <li class="breadcrumb-item">
            <a href="#">COURSES</a>
          </li>
          <li class="breadcrumb-item active">Sdl Class</li>
        </ol>  

<!--div *ngIf="ifClassSdl;">
      <h3>{{ifNoClassScdlText}} </h3>
    <button type="submit" (click)="classSdl()" class="btn btn-primary">Schedule Now</button>
</div-->

<h3>{{ifNoClassScdlText}} </h3>

<div class="card mb-3">
    <div class="card-header" style="background-color:yellow;">
      <i class="fa fa-table" ></i> Schedule Class</div>
    <div class="card-body">
 <div *ngIf="showForm;">
    <form #classForm="ngForm" (ngSubmit)="sdlClass(classForm)" class="classSc" style="margin:10px;">
         <mat-form-field>                                                              
           <input matInput name="date" [(ngModel)]="date" [matDatepicker]="picker" placeholder="Choose a date">       
           <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>    
           <mat-datepicker #picker></mat-datepicker>                                   
         </mat-form-field>                                                             
                                                                                    
          <mat-form-field>                                                             
            <mat-select [(ngModel)]="speaker" name="speaker" placeholder="Speaker">                                         
              <mat-option *ngFor="let sp of speakers" [value]="sp.value">
                {{sp.value}}  
              </mat-option>                              
                                          
            </mat-select>                                                              
          </mat-form-field>                                                            
                                                                                    
          <!--mat-form-field>                                                             
            <mat-select [(ngModel)]="counsellor" name="counsellor" placeholder="Counsellor">                                      
               
              <mat-option *ngFor="let c of counsellors" [value]="c.value">
                  {{c.value}}  
              </mat-option>                              
                                          
            </mat-select>                                                              
          </mat-form-field-->  
          <mat-form-field>                                                             
              <mat-select [(ngModel)]="course" name="course" placeholder="Course">                                      
                 
                <mat-option *ngFor="let c of courses" [value]="c.value">
                    {{c.value}}  
                </mat-option>                              
                                            
              </mat-select>                                                              
          </mat-form-field>  

          <mat-form-field>                                  
             <input matInput name="topic" [(ngModel)]="topic"  placeholder="Topic" value="Art of Mind Control">
                    
          </mat-form-field>  

          <mat-form-field>                                  
              <input matInput type="time" name="time" [(ngModel)]="time"  placeholder="Time">

           </mat-form-field>                                                                
         <button mat-raised-button type="submit" class="btn btn-primary">Submit</button>
       </form>                                                                          
    </div>
    </div>
    </div>
    <!-- Example DataTables Card-->
    <div class="card mb-3" *ngIf="ifClassSdl;">
      <div class="card-header" style="background-color:yellow;">
        <i class="fa fa-table"></i> Scheduled Classes</div>
      <div class="card-body">
        <div class="table-responsive">          
          <mat-form-field class="search">
              <input matInput  (keyup)="applyFilter($event.target.value)" placeholder="Search">
          </mat-form-field>
          <mat-table #table [dataSource]="dataSource">

              <!-- Position Column -->
              <ng-container matColumnDef="Date">
                <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
              </ng-container>
          
              <!-- Name Column -->
              <ng-container matColumnDef="Speaker">
                <mat-header-cell *matHeaderCellDef> Speaker </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.speaker}} </mat-cell>
              </ng-container>
          
              <!-- Weight Column -->
              <ng-container matColumnDef="Course">
                <mat-header-cell *matHeaderCellDef> Course </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.course}} </mat-cell>
              </ng-container>
          
              <!-- Symbol Column -->
              <ng-container matColumnDef="Topic">
                <mat-header-cell *matHeaderCellDef> Topic </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.topic}} </mat-cell>
              </ng-container>
          
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          
            </mat-table>
            <mat-paginator #paginator
             [pageSize]="10"
             [pageSizeOptions]="[5, 10, 20]"
             >
         </mat-paginator>

        </div>

      </div>
      <div class="card-footer small text-muted"></div>
    </div>
  </div>
  <!-- /.container-fluid-->
  <!-- /.content-wrapper-->