<!-- Navigation-->
<nav class="navbar-header navbar-expand-lg navbar-dark fixed-top"
       id="mainNav" style="background-color:#e9ecef;">
        <!--a class="navbar-brand" href="#">ISKCON YOUTH FORUM</a-->
        
        
        <a href="#" class="navbar-brand pull-left">
          <img src="./assets/img/logo.jpeg" style="">
        </a> 
       
        <a *ngIf="!isLoggedIn" style="margin-top:25px;" class="pull-right"
            routerLink="/adminLogin" routerActive="/adminLogin">
            <i class="fa fa-sign-in" aria-hidden="true"></i> Admin Login</a>

            <a *ngIf="isLoggedIn" style="margin:25px;color:blue;" class="pull-right"
            (click)="adminLogout();" >
                <i class="fa fa-sign-out" aria-hidden="true"></i></a>
  
            <a *ngIf="isLoggedIn" style="margin-top:25px;" class="pull-right">
            <i class="fa fa-user" aria-hidden="true"></i> Hare Krishna, Admin</a>

            

        <a href="#" class="pull-right">
            <img src="./assets/img/lokanathswami.jpg" style="margin:15px;border-radius:50%;"
             width="44" height="46">
          </a> 
          <a href="#" class="pull-right">
              <img src="./assets/img/spp.jpg" style="margin:15px;border-radius:50%;" 
              width="44" height="46" >
            </a> 

            

            <!--marquee style="color:green;">Hare Krishna Hare Krishna Krishna Krishna Hare Hare,
                Hare Ram Hare Ram Ram Ram Hare Hare!!</marquee-->
        <button 
        class="navbar-toggler navbar-toggler-right" 
        type="button" data-toggle="collapse" 
        data-target="#navbarResponsive" 
        aria-controls="navbarResponsive" 
        aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarResponsive" >
          <ul class="navbar-nav navbar-sidenav" id="menu">
            <li class="nav-item" style="color:black;" data-toggle="tooltip" data-placement="right" title="courses">
              <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#courses" data-parent="#menu">
                <i class="fa fa-fw fa-dashboard"></i>
                <span   class="nav-link-text">COURSES</span>
              </a>
              <ul class="sidenav-second-level collapse" id="courses">
                <li>
                  <a style="color:black;" routerLink="/otpattendance" 
                      routerActive="/otpattendance">OTP DEVOTEES</a>
                </li>
                <li >
                  <a style="color:black;" routerLink="/attendance" [queryParams]="{ course: 2 }" 
                  routerActive="/attendance">TSSV DEVOTEES</a>
                </li>
                <li >
                  <a style="color:black;" routerLink="/attendance" [queryParams]="{ course: 3 }" 
                  routerActive="/attendance">ASHRAY 1 DEVOTEES</a>
                </li>
                <li >
                  <a style="color:black;" routerLink="/attendance" [queryParams]="{ course: 4 }" 
                  routerActive="/attendance">ASHRAY 2 DEVOTEES</a>
                </li>
                <li >
                    <a style="color:black;" routerLink="/attendance" [queryParams]="{ course: 5 }" 
                    routerActive="/attendance">ALL DEVOTEES</a>
                </li>
              </ul>
            </li>

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <a class="nav-link" routerLink="/downloads" routerActive="/downloads">
                      <i class="fa fa-fw fa-download"></i>
                      <span class="nav-link-text">Downloads</span>
                    </a>
             </li>

             <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                <a class="nav-link" routerLink="/classSdl" routerActive="/classSdl">
                  <i class="fa fa-calendar"></i>
                  <span class="nav-link-text"> Scheduled Classes</span>
                </a>
             </li>
             
     
          </ul>
          <ul class="navbar-nav sidenav-toggler">
              <li class="nav-item">
                <a class="nav-link text-center" id="sidenavToggler">
                  <i class="fa fa-fw fa-angle-left"></i>
                </a>
              </li>
            </ul>
        </div>
      </nav>
    
    
        <footer class="sticky-footer">
            <div class="container">
              <div class="text-center">
                <small>Copyright © IYF 2018</small>
              </div>
            </div>
          </footer>
          <!-- Scroll to Top Button-->
          <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
          </a>
    
     
    
<router-outlet></router-outlet>