<!-- Navigation-->
<!--nav class="navbar-header navbar-expand-lg navbar-dark fixed-top"
       id="mainNav" style="background-color:#343a40;" >
        
        
        <a href="#" class="navbar-brand pull-left">
          <img src="./assets/img/logo.jpeg" style="">
        </a> 
       
        <a *ngIf="!isLoggedIn" style="margin-top:25px;" class="pull-right"
            routerLink="/adminLogin" routerActive="/adminLogin">
            <i class="fa fa-sign-in" aria-hidden="true"></i> Admin Login</a>

            <a *ngIf="isLoggedIn" style="margin:25px;color:blue;" class="pull-right"
            (click)="adminLogout();" >
                <i class="fa fa-sign-out" aria-hidden="true"></i></a>
  
            <a *ngIf="isLoggedIn" style="margin-top:25px;color:blue;" class="pull-right">
            <i class="fa fa-user" aria-hidden="true"></i> Hare Krishna, Admin</a>

            

        <a href="#" class="pull-right">
            <img src="./assets/img/lokanathswami.jpg" style="margin:15px;border-radius:50%;"
             width="44" height="46">
          </a> 
          <a href="#" class="pull-right">
              <img src="./assets/img/spp.jpg" style="margin:15px;border-radius:50%;" 
              width="44" height="46" >
            </a> 

         <div class="collapse navbar-collapse" id="navbarResponsive"  >
          <ul class="navbar-nav navbar-sidenav " id="sidebar" style="background-color:#343a40" >
            <li class="nav-item" style="color:black;" data-toggle="tooltip" data-placement="right" title="courses">
              <a style="color:#FFF;" class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#courses" data-parent="#menu">
                <i class="fa fa-fw fa-dashboard"></i>
                <span   class="nav-link-text">COURSES</span>
              </a>
              <ul class="sidenav-second-level collapse" id="courses">
                <li>
                  <a style="color:#000;" routerLink="/otpattendance" [queryParams]="{ course: 1 }"
                      routerActive="/otpattendance">OTP</a>
                </li>
                <li >
                  <a style="color:#000;" routerLink="/tssvattendance" [queryParams]="{ course: 2 }" 
                  routerActive="/tssvattendance">TSSV-B10</a>
                </li>
                <li >
                  <a style="color:#000;" routerLink="/ashrayattendance" [queryParams]="{ course: 3 }" 
                  routerActive="/ashrayattendance">ASHRAY</a>
                </li>
                <li >
                  <a style="color:#000;" routerLink="/umangattendance" [queryParams]="{ course: 4 }" 
                  routerActive="/umangattendance">UMANG</a>
                </li>
                <li >
                  <a style="color:#000;" routerLink="/bssattendance" [queryParams]="{ course: 6 }" 
                  routerActive="/bssattendance">BSS</a>
                </li>
                <li >
                    <a style="color:#000" routerLink="/attendance" [queryParams]="{ course: 5 }" 
                    routerActive="/attendance">ALL DEVOTEES</a>
                </li>
              </ul>
            </li>

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <a style="color:#FFF;" class="nav-link" routerLink="/downloads" routerActive="/downloads">
                      <i class="fa fa-fw fa-download"></i>
                      <span class="nav-link-text">Downloads</span>
                    </a>
             </li>

             <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                <a style="color:#FFF;" class="nav-link" routerLink="/classSdl" routerActive="/classSdl">
                  <i class="fa fa-calendar"></i>
                  <span class="nav-link-text"> Scheduled Classes</span>
                </a>
             </li>
             
     
          </ul>
          <ul class="navbar-nav sidenav-toggler" id="sidebar">
              <li class="nav-item">
                <a (click)="toggleClicked();" class="nav-link text-center" id="sidenavToggler">
                  <i class="fa fa-fw fa-angle-left"></i>
                </a>
              </li>
            </ul>
        </div>
      </nav>
    
    
        <footer class="sticky-footer"id="homefooter" >
            <div class="container">
              <div class="text-center">
                <small>Copyright © IYF 2018</small>
              </div>
            </div>
          </footer>
          <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
          </a-->
    
     
    
<!--router-outlet></router-outlet-->
<div class="mid-pane">
  <div class="left-pane">
 <div class="header-logo">
 <a class="cmp-heading">
  
   <img src="./assets/img/logo.jpeg" style="width:90%">
 </a>
 <a id="sidebar-collaps" class="sidebar-icon">
   <i class="fa fa-indent"></i>
   <i class="fa fa-outdent"></i>
 </a>
 </div>
 <ul>
   
   <li>
     <a class="collpased" data-toggle="collapse" href="#collapse1" class="collapsed">
       
      <i class="fa fa-fw fa-dashboard"></i>
                <span   class="nav-link-text">COURSES</span>
       <i class="fas fa fa-angle-right"></i>
     </a>
     <div class="collapse" id="collapse1">
          <ul class="nav" style="background: #f8f9fa">
            <li>
              <a style="color:#000;"  routerLink="/otpattendance" [queryParams]="{ course: 1 }"
                  routerActive="/otpattendance"><i class="fas fa fa-book"></i><span>OTP</span> </a>
            </li>
            <li >
              <a style="color:#000;" routerLink="/tssvattendance" [queryParams]="{ course: 2 }" 
              routerActive="/tssvattendance"><i class="fas fa fa-book"></i>TSSV-B10</a>
            </li>
            <li >
              <a style="color:#000;" routerLink="/ashrayattendance" [queryParams]="{ course: 3 }" 
              routerActive="/ashrayattendance"><i class="fas fa fa-book"></i>ASHRAY</a>
            </li>
            <li >
              <a style="color:#000;" routerLink="/umangattendance" [queryParams]="{ course: 4 }" 
              routerActive="/umangattendance"><i class="fas fa fa-book"></i>UMANG</a>
            </li>
            <li >
              <a style="color:#000;" routerLink="/bssattendance" [queryParams]="{ course: 6 }" 
              routerActive="/bssattendance"><i class="fas fa fa-book"></i>BSS</a>
            </li>
            <li >
                <a style="color:#000" routerLink="/attendance" [queryParams]="{ course: 5 }" 
                routerActive="/attendance"><i class="fas fa fa-book"></i>ALL DEVOTEES</a>
            </li>
          </ul>
     </div>
   </li>
   
   <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
    <a class="nav-link" routerLink="/downloads" routerActive="/downloads">
      <i class="fa fa-fw fa-download"></i>
      <span class="nav-link-text">Downloads</span>
    </a>
</li>

<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
<a  class="nav-link" routerLink="/classSdl" routerActive="/classSdl">
  <i class="fa fa-calendar"></i>
  <span class="nav-link-text"> Scheduled Classes</span>
</a>
</li> 
 </ul>
  </div>
  
  <div class="right-pane">
   <div class="topBar">
      <a *ngIf="!isLoggedIn" style="margin-top:25px;" class="pull-right"
      routerLink="/adminLogin" routerActive="/adminLogin">
      <i class="fa fa-sign-in" aria-hidden="true"></i> Admin Login</a>

      <a *ngIf="isLoggedIn" style="margin:25px;color:blue;" class="pull-right"
      (click)="adminLogout();" >
          <i class="fa fa-sign-out" aria-hidden="true"></i></a>

      <a *ngIf="isLoggedIn" style="margin-top:25px;color:blue;" class="pull-right">
      <i class="fa fa-user" aria-hidden="true"></i> Hare Krishna, Admin</a>

      

  <a href="#" class="pull-right">
      <img src="./assets/img/lokanathswami.jpg" style="margin:15px;border-radius:50%;"
       width="44" height="46">
    </a> 
    <a href="#" class="pull-right">
        <img src="./assets/img/spp.jpg" style="margin:15px;border-radius:50%;" 
        width="44" height="46" >
    </a> 

  </div>   
    
   <router-outlet></router-outlet>
  </div>
</div>
