<!--router-outlet></router-outlet-->
<div class="mid-pane">
  <div class="left-pane">
 <div class="header-logo">
 <a class="cmp-heading">
  
   <img src="./assets/img/logo.jpeg" style="width:90%">
 </a>
 <a id="sidebar-collaps" class="sidebar-icon">
   <i class="fa fa-indent"></i>
   <i class="fa fa-outdent"></i>
 </a>
 <a class="fa fa-close CloseIcon" style="display:none;"></a>
 </div>
 <ul>
   
   <li>
     <a class="collpased" data-toggle="collapse" href="#collapse1" class="collapsed">
       
      <i class="fa fa-fw fa-dashboard"></i>
                <span   class="nav-link-text">COURSES</span>
       <i class="fas fa fa-angle-right"></i>
     </a>
     <div class="collapse" id="collapse1">
          <ul class="nav" style="background: #f8f9fa">
            <li>
              <a style="color:#000;"  routerLink="/otpattendance" [queryParams]="{ course: 1 }"
                  routerActive="/otpattendance"><i class="fas fa fa-book"></i><span>OTP</span> </a>
            </li>
            <li >
              <a style="color:#000;" routerLink="/tssvattendance" [queryParams]="{ course: 2 }" 
              routerActive="/tssvattendance"><i class="fas fa fa-book"></i>TSSV-B10</a>
            </li>
            <li >
              <a style="color:#000;" routerLink="/ashrayattendance" [queryParams]="{ course: 3 }" 
              routerActive="/ashrayattendance"><i class="fas fa fa-book"></i>VL3</a>
            </li>
            <!--li >
              <a style="color:#000;" routerLink="/umangattendance" [queryParams]="{ course: 4 }" 
              routerActive="/umangattendance"><i class="fas fa fa-book"></i>UMANG</a>
            </li-->
            <li >
              <a style="color:#000;" routerLink="/bssattendance" [queryParams]="{ course: 6 }" 
              routerActive="/bssattendance"><i class="fas fa fa-book"></i>BSS</a>
            </li>
            <li >
                <a style="color:#000;" routerLink="/dysattendance" [queryParams]="{ course: 7 }" 
                routerActive="/dysattendance"><i class="fas fa fa-book"></i>DYS</a>
              </li>

            <li >
                <a style="color:#000" routerLink="/attendance" [queryParams]="{ course: 5 }" 
                routerActive="/attendance"><i class="fas fa fa-book"></i>ALL DEVOTEES</a>
            </li>
          </ul>
     </div>
   </li>
   
   <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
    <a class="nav-link" routerLink="/downloads" routerActive="/downloads">
      <i class="fa fa-fw fa-download"></i>
      <span class="nav-link-text">Downloads</span>
    </a>
</li>

<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
<a  class="nav-link" routerLink="/classSdl" routerActive="/classSdl">
  <i class="fa fa-calendar"></i>
  <span class="nav-link-text"> Scheduled Classes</span>
</a>
</li> 
 </ul>
  </div>
  
  <div class="right-pane">
   <div class="topBar">
     <button class="mobileToggle" id="sidebar-collapsM" ><i class="fa fa-bars"></i></button>

     <div *ngIf="!isLoggedIn" class="dropdown pull-right logindropdown" >
        <i style="color:yellow;" class="dropdown-toggle fa fa-user" data-toggle="dropdown">
        </i>
        <div class="dropdown-menu">
          <a class="dropdown-item" *ngIf="!isLoggedIn"
      routerLink="/adminLogin" routerActive="/adminLogin">
      <i class="fa fa-sign-in" aria-hidden="true"></i> Admin Login</a>
      <a class="dropdown-item" *ngIf="!isLoggedIn" 
      routerLink="/counLogin" routerActive="/counLogin">
      <i class="fa fa-sign-in" aria-hidden="true"></i> Counsellor Login</a>
        </div>
      </div>
      <!--a *ngIf="!isLoggedIn" style="margin-top:25px;" class="pull-right"
      routerLink="/adminLogin" routerActive="/adminLogin">
      <i class="fa fa-sign-in" aria-hidden="true"></i> Admin Login</a-->

      <a *ngIf="isLoggedIn" style="margin:25px;color:yellow;" class="pull-right"
      (click)="adminLogout();" >
          <i class="fa fa-sign-out" style="cursor: pointer;" aria-hidden="true"></i></a>

      <a *ngIf="isLoggedIn" style="margin-top:25px;color:yellow" class="pull-right">
      <i class="fa fa-user" style="color:yellow;" aria-hidden="true"></i> Hare Krishna, {{userName}}</a>

      

  <a href="#" class="pull-right ">
      <img src="./assets/img/lokanathswami.jpg" class="ach"
       width="44" height="46">
    </a> 
    <a href="#" class="pull-right ">
        <img src="./assets/img/spp.jpg" class="ach"
        width="44" height="46" >
    </a> 

  </div>   
    
   <router-outlet></router-outlet>
  </div>
</div>
