<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href="#">ISKCON YOUTH FORUM</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav navbar-sidenav" id="menu">
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="courses">
              <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#courses" data-parent="#menu">
                <i class="fa fa-fw fa-dashboard" style="color:#FFF;"></i>
                <span  style="color:#FFF;" class="nav-link-text">COURSES</span>
              </a>
              <ul class="sidenav-second-level collapse" id="courses">
                <li>
                  <a href="#">OTP</a>
                </li>
                <li style="color:#FFF;">
                  <a href="#">TSSV</a>
                </li>
                <li style="color:#FFF;">
                  <a href="#">ASHRAY 1</a>
                </li>
                <li style="color:#FFF;">
                  <a href="#">ASHRAY 2</a>
                </li>
              </ul>
            </li>
    
          </ul>
        </div>
      </nav>
    
      
      
      <div class="content-wrapper">
        <div class="container-fluid">
          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">COURSES</a>
            </li>
            <li class="breadcrumb-item active">OTP</li>
          </ol>
    
    
        <!-- Class Scheduling	-->
    
    
      <div *ngIf="!ifClassSdl;">
            <h3>{{ifNoClassScdlText}} </h3>
          <button type="submit" (click)="classSdl()" class="btn btn-primary">Schedule Now</button>
      </div>
    
       <div *ngIf="showForm;">
          <form #classForm="ngForm" (ngSubmit)="onSubmit(classForm)" class="classSc" style="margin:10px;">
               <mat-form-field>                                                              
                 <input matInput name="date" [(ngModel)]="date" [matDatepicker]="picker" placeholder="Choose a date">       
                 <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>    
                 <mat-datepicker #picker></mat-datepicker>                                   
               </mat-form-field>                                                             
                                                                                          
                <mat-form-field>                                                             
                  <mat-select [(ngModel)]="speaker" name="speaker" placeholder="Speaker">                                         
                    <mat-option *ngFor="let sp of speakers" [value]="sp.value">
                      {{sp.value}}  
                    </mat-option>                              
                                                
                  </mat-select>                                                              
                </mat-form-field>                                                            
                                                                                          
                <mat-form-field>                                                             
                  <mat-select [(ngModel)]="counsellor" name="counsellor" placeholder="Counsellor">                                      
                     
                    <mat-option *ngFor="let c of counsellors" [value]="c.value">
                        {{c.value}}  
                    </mat-option>                              
                                                
                  </mat-select>                                                              
                </mat-form-field>                                                            
                <mat-form-field>                                  
                   <input matInput name="topic" [(ngModel)]="topic"  placeholder="Topic" value="Art of Mind Control">
                          
                </mat-form-field>  
                                                                          
               <button mat-raised-button type="submit" class="btn btn-primary">Submit</button>
             </form>                                                                          
          </div>
    
          <!-- Example DataTables Card-->
          <div class="card mb-3" *ngIf="ifClassSdl;">
            <div class="card-header">
              <i class="fa fa-table"></i> Scheduled Classes</div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Speaker</th>
                      <th>Counsellor</th>
                      <th>Topic</th>
                      <th>Attendance</th>
                      
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Date</th>
                      <th>Speaker</th>
                      <th>Counsellor</th>
                      <th>Topic</th>
                      <th>Attendance</th>
                    </tr>
                  </tfoot>
                  <tbody>
                      <tr *ngFor="let cl of sdlClasses;">                 
                      <td >{{cl.date}}</td>
                      <td >{{cl.speaker}}</td>
                      <td >{{cl.counsellor}}</td>
                      <td >{{cl.topic}}</td>
                      <td ><button mat-raised-button type="submit" class="btn btn-primary">
                        <a routerLink="/attendance-component" routerLinkActive="active">Take Attendance</a></button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted"></div>
          </div>
        </div>
        <!-- /.container-fluid-->
        <!-- /.content-wrapper-->
    
        <footer class="sticky-footer">
            <div class="container">
              <div class="text-center">
                <small>Copyright © IYF 2018</small>
              </div>
            </div>
          </footer>
          <!-- Scroll to Top Button-->
          <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
          </a>
    
     
    